[submodule "utils/transitfeed"]
	path = utils/transitfeed
	url = https://github.com/google/transitfeed
[submodule "libs/gtfs-csv2rdf"]
	path = utils/gtfs-csv2rdf
	url = https://github.com/OpenTransport/gtfs-csv2rdf
