.DS_Store
node_modules

cache
gtfs/shapes.txt
gtfs/stops.txt
gtfs/calendar.txt
gtfs/frequencies.txt
gtfs/routes.txt
gtfs/stop_times.txt
gtfs/trips.txt

validation-results.html
matera_gtfsintriples.ttl
matera-gtfs.zip
